language: c

compiler:
  - clang
  - gcc

env:
  # build without shadowsocks protocol
  - ENABLE_SS: OFF
    USE_CRYPTO_OPENSSL: OFF
    USE_CRYPTO_MBEDTLS: OFF

  # build with openssl library
  - ENABLE_SS: ON
    USE_CRYPTO_OPENSSL: ON
    USE_CRYPTO_MBEDTLS: OFF

  # build with mbed TLS library
  - ENABLE_SS: ON
    USE_CRYPTO_OPENSSL: OFF
    USE_CRYPTO_MBEDTLS: ON
    MBEDTLS_VERSION: 2.1.14

  # build https proxy with openssl library
  - ENABLE_SS: ON
    ENABLE_HTTPS_PROXY: ON
    USE_CRYPTO_OPENSSL: ON
    USE_CRYPTO_MBEDTLS: OFF

sudo: required 
dist: trusty

branches:
  except:
    - /^v[0-9]/

addons:
  apt:
    sources:
      # aliases defined in https://github.com/travis-ci/apt-source-whitelist
      #- deadsnakes
      - sourceline: 'ppa:ondrej/apache2'
    packages:
      - cmake
      - cmake-data
      - scons
      - libssl-dev

install:
  # build and install libevent
  - wget https://github.com/libevent/libevent/releases/download/release-2.1.8-stable/libevent-2.1.8-stable.tar.gz && tar -xf libevent-2.1.8-stable.tar.gz && cd libevent-2.1.8-stable && ./configure && make && sudo make install && cd - 
  # build and install mbedtls
  - test "$USE_CRYPTO_MBEDTLS" != true || ( wget https://tls.mbed.org/download/mbedtls-${MBEDTLS_VERSION}-gpl.tgz && tar -xf mbedtls-${MBEDTLS_VERSION}-gpl.tgz && cd mbedtls-${MBEDTLS_VERSION} && make && sudo make install && cd - )

script:
  - scons && scons --clean
  - mkdir -p build && cd build && cmake .. -DENABLE_HTTPS_PROXY:STRING=$ENABLE_HTTPS_PROXY -DENABLE_SS:STRING=$ENABLE_SS -DUSE_CRYPTO_OPENSSL:STRING=$USE_CRYPTO_OPENSSL -DUSE_CRYPTO_MBEDTLS:STRING=$USE_CRYPTO_MBEDTLS && make

notifications:
  recipients:
    - boycht@gmail.com
  email:
    on_success: change
    on_failure: always

# vim:set sts=2 sw=2 tw=0 et:
